@value tablet from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

.btn {
  display: none;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  text-decoration: none;
  background-color: ui-color;
  color: text-color;
  transition: ui-transition;
}

@media tablet {
  .btn {
    display: inline-flex;
  }
}

.btn:hover,
.btn:focus {
  background-color: text-color;
  color: ui-color;
}

.caption {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.decor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: text-color;
  transition: ui-transition;
}

.btn:hover .decor,
.btn:focus .decor {
  background-color: ui-color;
}

.icon {
  width: 14px;
  height: 15px;
  stroke: text-color;
}
