@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color, card-color, placeholder-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

.field {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid ui-color;
}

.fieldLabel::before {
  content: '* ';
}

.fieldLabel {
  color: text-color;
  text-align: justify;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.64px;
}

.fieldInput {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 8px 0;
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.72px;
  color: text-color;
}

.fieldInput::placeholder {
  color: placeholder-color;
}

@media desktop {
  .fieldInput {
    padding: 12px 0 8px;
    font-size: 20px;
  }
}
