@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color from "../../css-variables/colors.css";

.text {
  color: text-color;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.text.caption {
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.72px;
}

.text.small {
  font-size: 12px;
  letter-spacing: -0.48px;
}

@media tablet {
  .text.caption {
    font-size: 20px;
    letter-spacing: -0.8px;
  }

  .text.small {
    font-size: 14px;
    letter-spacing: -0.56x;
  }
}

@media desktop {
  .text.caption {
    font-size: 24px;
    letter-spacing: -0.96px;
  }

  .text.small {
    font-size: 16px;
    letter-spacing: -0.64x;
  }
}
