@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value back-drop, bg-menu, menu-item-color, ui-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

.menuBackdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  padding: 20px;
  background: back-drop;
  backdrop-filter: blur(2px);
}

.menuBlock {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  width: 320px;
  padding: 24px;
  border-radius: 25px;
  background: bg-menu;
  backdrop-filter: blur(12.5px);
}

.menuClose {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  border: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  color: menu-item-color;
  background: none;
}

.menuClose:hover {
  color: ui-color;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-top: 24px;
  border-top: 1px solid menu-item-color;
}

.menuItem {
  width: 100%;
}

.menuLink {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
  color: menu-item-color;
  transition: ui-transition;
}

.menuItem:hover .menuLink {
  color: ui-color;
}

.menuSocnet {
  position: absolute;
  left: 24px;
  bottom: 24px;
  display: flex;
  gap: 8px;
}

.socnetItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socnetLink {
  display: block;
  width: 24px;
  height: 24px;
}

@media tablet {
  .menuBlock {
    top: 42px;
    right: 30px;
    bottom: 42px;
  }
}

@media desktop {
  .menuBlock {
    top: 30px;
    right: 100px;
    bottom: 30px;
  }
}
