@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

@value text from "../Text/Text.module.css";

.qaList {
  margin-bottom: 20px;
}

.qaItem {
  border-top: 1px solid ui-color;
  padding: 16px 0;
}

.qaQuestion {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.qaQuestion .text {
  font-size: 18px;
  letter-spacing: -0.72px;
}

.qaAnswer {
  display: none;
  padding: 16px 0 0 24px;
}

.qaQuestion.open + .qaAnswer {
  display: block;
}

.qaAnswer .text {
  font-size: 14px;
  letter-spacing: -0.56px;
}

@media tablet {
  .qaList {
    width: 342px;
    margin-bottom: 0;
  }

  .qaQuestion {
    gap: 16px;
  }

  .qaAnswer {
    padding: 16px 0 0 42px;
  }
}

@media desktop {
  .qaList {
    width: 596px;
  }

  .qaItem {
    padding: 24px 0;
  }

  .qaQuestion {
    gap: 24px;
  }

  .qaQuestion .text {
    font-size: 24px;
    letter-spacing: -0.96px;
  }

  .qaAnswer {
    padding: 24px 0 0 52px;
  }

  .qaAnswer .text {
    font-size: 16px;
    letter-spacing: -0.64px;
  }
}
