@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

@value text from "../Text/Text.module.css";

.q-item {
  border-top: 1px solid ui-color;
  padding: 16px 0;
}

.question {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.icon-plus,
.icon-minus {
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  transition: ui-transition;
}

.icon-plus {
  stroke: ui-color;
}

.question:hover .icon-plus {
  stroke: text-color;
}

.icon-minus {
  stroke: text-color;
}

.question:hover .icon-minus {
  stroke: ui-color;
}

.question .text {
  font-size: 18px;
  letter-spacing: -0.72px;
}

.answer {
  display: none;
  padding: 16px 0 0 24px;
}

.question.open + .answer {
  display: block;
}

.answer .text {
  font-size: 14px;
  letter-spacing: -0.56px;
}
