@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value ui-color from "../../css-variables/colors.css";

@value footer from "../FooterComponent/FooterComponent.module.css";

@media tablet {
  .fit-content {
    display: flex;
    gap: 24px;
    flex-basis: 342px;
  }
}

@media desktop {
  .fit-content {
    gap: 48px;
    flex-basis: 596px;
  }
}

/* fit content on footer */

.footer .fit-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  border-top: 1px solid ui-color;
  padding: 24px 0;
}

@media tablet {
  .footer .fit-content {
    row-gap: 16px;
    padding: 40px 0;
  }
}
