@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color, text-opacity from "../../css-variables/colors.css";

@value text from "../../components/Text/Text.module.css";

.control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.case-thumb {
  width: 100%;
}

.case-img {
  width: 100%;
  height: 168px;
  object-fit: cover;
}

.case-content {
  padding: 24px 12px 12px 12px;
}

.case-fitcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
  border-bottom: 1px solid ui-color;
}

.case-fitcaption .text {
  width: 200px;
}

.case-fitdesc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

@media tablet {
  .control::before {
    content: '';
    position: absolute;
    top: 0;
    left: -11px;
    width: 1px;
    height: 100%;
    background-color: ui-color;
  }

  .case-fitcaption {
    padding-bottom: 16px;
  }
}

@media desktop {
  .control::before {
    left: -161px;
  }
}

.position {
  color: text-color;
  text-align: justify;
  font-family: Fira Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -1.12px;
}

.length {
  composes: position;
  color: text-opacity;
}

.switches {
  display: flex;
  gap: 12px;
}

@media tablet {
  .control {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(12px);
    width: 342px;
    margin-bottom: 0;
  }
}

@media desktop {
  .control {
    transform: translateX(161px);
    width: 459px;
    margin-bottom: 0;
  }

  .case-img {
    height: 296px;
  }

  .case-content {
    padding: 36px 48px;
  }

  .case-fitcaption {
    padding-bottom: 36px;
  }

  .case-fitcaption .text {
    width: 360px;
  }

  .case-caption {
    display: block;
  }

  .case-fitdesc {
    padding-top: 24px;
  }
}
