@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color, text-opacity from "../../css-variables/colors.css";

.control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.position {
  color: text-color;
  text-align: justify;
  font-family: Fira Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -1.12px;
}

.length {
  composes: position;
  color: text-opacity;
}

.switches {
  display: flex;
  gap: 12px;
}

@media tablet {
  .control {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(12px);
    width: 342px;
    margin-bottom: 0;
  }
}

@media desktop {
  .control {
    transform: translateX(161px);
    width: 459px;
    margin-bottom: 0;
  }
}
