@value mobile, smartphone, tablet, desktop from "../../css-variables/media.module.css";

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.container.main {
  padding-top: 222px;
}

@media mobile {
  .container {
    max-width: 300px;
  }
}

@media smartphone {
  .container {
    max-width: 420px;
  }
}

@media tablet {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media desktop {
  .container {
    max-width: 1280px;
    padding: 0 20px;
  }
}
