@value mobile, smartphone, tablet, desktop, mobile-width, smartphone-width, tablet-width, desktop-width from "../../css-variables/media.css";

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.container.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media smartphone {
  .container {
    max-width: smartphone-width;
  }
}

@media tablet {
  .container {
    max-width: tablet-width;
    padding: 0 30px;
  }
}

@media desktop {
  .container {
    max-width: desktop-width;
    padding: 0 20px;
  }
}
