@value menu-button, ui-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: menu-button;
  transition: ui-transition;
}

.menu-btn:hover {
  background-color: ui-color;
}
