@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

@value slide from "../Slide/Slide.module.css";
@value footerComponent from "../FooterComponent/FooterComponent.module.css";

.roundBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  border: 1px solid text-color;
  border-radius: 50%;
  transition: ui-transition;
}

.roundBtn.roundFilled {
  background-color: ui-color;
  border: none;
}

.slide:hover .roundBtn.roundFilled,
.roundBtn.roundFilled:hover {
  background-color: text-color;
  border: none;
}

.roundBtn:hover {
  border: 1px solid ui-color;
}

.roundLink {
  width: 32px;
  height: 32px;
}

.footerComponent .roundLink {
  position: absolute;
  top: 28px;
  right: 0;
  z-index: 150;
}

@media tablet {
  .footerComponent .roundLink {
    top: 40px;
  }
}

@media desktop {
  .roundLink:not(.roundFilled) {
    width: 84px;
    height: 84px;
  }
}
