@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text from "../../components/Text/Text.module.css";

.contactUs {
  text-align: center;
  flex-shrink: 0;
}

.contactUs .text {
  text-align: center;
  margin-bottom: 12px;
  font-size: 18px;
  letter-spacing: -0.72px;
}

@media tablet {
  .contentWrap {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    flex-basis: 342px;
  }

  .contactUs {
    width: 342px;
  }

  .contactUs .text {
    text-align: left;
  }
}

@media desktop {
  .contentWrap {
    gap: 48px;
  }

  .contactUs {
    width: 596px;
    text-align: center;
  }

  .contactUs .text {
    text-align: center;
    margin-bottom: 12px;
    font-size: 24px;
    letter-spacing: -0.96px;
  }
}
