@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value menu-item-color, text-color, ui-color, card-color, placeholder-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

/* @value card from "../Card/Card.module.css"; */
/* @value qaQuestion, open from "../Questions/Questions.module.css"; */
/* @value contactItem, contactLink from "../Contacts/Contacts.module.css"; */
@value footerComponent from "../FooterComponent/FooterComponent.module.css";
/* @value roundBtn, roundFilled, roundLink from "../RoundButton/RoundButton.module.css"; */
/* @value slide from "../Slide/Slide.module.css"; */
/* @value btn from "../Button/Button.module.css"; */
/* @value contactBtn from "../ContactUsLink/ContactUsLink.module.css"; */
/* @value menuBtn from "../MenuButton/MenuButton.module.css"; */
/* @value menuItem, menuLink, menuClose, socnetLink from "../Menu/Menu.module.css"; */
/* @value socnetLink from "../Menu/Menu.module.css"; */

/* Icon-style for menu-button */

/* .menuBtn .iconStyle {
  width: 16px;
  height: 17px;
  stroke: text-color;
} */

/* Icon-style for menu-links */

/* .menuLink .iconStyle {
  width: 16px;
  height: 16px;
  stroke: menu-item-color;
  transition: ui-transition;
}

.menuItem:hover .iconStyle {
  stroke: ui-color;
} */

/* Icon-style for ContactUs-button */

/* .contactBtn .iconStyle {
  width: 14px;
  height: 15px;
  stroke: text-color;
} */

/* Icon-style for button */

/* .btn .iconStyle {
  width: 16px;
  height: 17px;
  stroke: text-color;
} */

/* Icon-style for menu-close button */

/* .menuClose .iconStyle {
  width: 20px;
  height: 20px;
  stroke: menu-item-color;
  transition: ui-transition;
}

.menuClose:hover .iconStyle {
  stroke: ui-color;
} */

/* Icon-style for social-links in menu */

/* .socnetLink .iconStyle {
  width: 24px;
  height: 24px;
  fill: menu-item-color;
  transition: ui-transition;
}

.socnetLink:hover .iconStyle,
.socnetLink:focus .iconStyle {
  fill: ui-color;
} */

/* Icon-style for card (Values-section) */

/* .card .iconStyle {
  width: 16px;
  height: 16px;
  stroke: text-color;
}

@media desktop {
  .card .iconStyle {
    width: 24px;
    height: 24px;
  }
} */

/* Icon-style for buttons of slider (Cases-section) */

/* .roundBtn .iconStyle {
  width: 36px;
  height: 36px;
  stroke: text-color;
  transition: ui-transition;
}

.roundBtn:hover .iconStyle,
.roundBtn:focus .iconStyle {
  stroke: ui-color;
}

.slide:hover .roundBtn.roundFilled .iconStyle,
.slide:focus .roundBtn.roundFilled .iconStyle {
  stroke: ui-color;
}

.roundLink .iconStyle {
  width: 16px;
  height: 16px;
}

.left {
  transform: rotate(180deg);
}

.right-up {
  transform: rotate(-45deg);
}

.up {
  transform: rotate(-90deg);
} */

/* Icon-style for questions (Faq-section) */

/* .qaQuestion .iconStyle {
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  stroke: ui-color;
  transition: ui-transition;
}

.qaQuestion:hover .iconStyle {
  stroke: text-color;
}

.qaQuestion.open .iconStyle {
  stroke: text-color;
}

.qaQuestion.open:hover .iconStyle {
  stroke: ui-color;
}

@media tablet {
  .qaQuestion .iconStyle {
    width: 28px;
    height: 28px;
  }
} */

/* Icon-style for contacts (ContactUs-section) */

/* .contactLink .iconStyle {
  fill: text-color;
  width: 24px;
  height: 24px;
  transition: ui-transition;
}

.contactLink:hover .iconStyle,
.contactLink:focus .iconStyle {
  fill: ui-color;
} */

/* ...and for footer-contacts */

.footerComponent .contactItem:not(:last-child) .iconStyle {
  display: none;
}
