@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value menu-item-color, text-color, ui-color, card-color, placeholder-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

@value card from "../Card/Card.module.css";
@value menu-close, link-socnet from "../Menu/Menu.module.css";
@value question, open from "../Questions/Questions.module.css";
@value contact-item, contact-link from "../Contacts/Contacts.module.css";
@value footer from "../FooterComponent/FooterComponent.module.css";
@value round-btn, filled, link from "../RoundButton/RoundButton.module.css";
@value slide from "../Slide/Slide.module.css";

/* Icon-style for menu-close button */

.menu-close .icon {
  width: 20px;
  height: 20px;
  stroke: menu-item-color;
  transition: ui-transition;
}

.menu-close:hover .icon {
  stroke: ui-color;
}

/* Icon-style for social-links in menu */

.link-socnet .icon {
  width: 24px;
  height: 24px;
  fill: menu-item-color;
  transition: ui-transition;
}

.link-socnet:hover .icon {
  fill: ui-color;
}

/* Icon-style for card (Values-section) */

.card .icon {
  width: 16px;
  height: 16px;
  stroke: text-color;
}

@media desktop {
  .card .icon {
    width: 24px;
    height: 24px;
  }
}

/* Icon-style for buttons of slider (Cases-section) */

.round-btn .icon {
  width: 36px;
  height: 36px;
  stroke: text-color;
  transition: ui-transition;
}

.round-btn:hover .icon {
  stroke: ui-color;
}

.slide:hover .round-btn.filled .icon {
  stroke: ui-color;
}

.link .icon {
  width: 16px;
  height: 16px;
}

.left {
  transform: rotate(180deg);
}

.right-up {
  transform: rotate(-45deg);
}

.up {
  transform: rotate(-90deg);
}

/* Icon-style for questions (Faq-section) */

.question .icon {
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  stroke: ui-color;
  transition: ui-transition;
}

.question:hover .icon {
  stroke: text-color;
}

.question.open .icon {
  stroke: text-color;
}

.question.open:hover .icon {
  stroke: ui-color;
}

@media tablet {
  .question .icon {
    width: 28px;
    height: 28px;
  }
}

/* Icon-style for contacts (ContactUs-section) */

.contact-link .icon {
  fill: text-color;
  width: 24px;
  height: 24px;
  transition: ui-transition;
}

.contact-link:hover .icon {
  fill: ui-color;
}

/* ...and for footer-contacts */

.footer .contact-item:not(:last-child) .icon {
  display: none;
}
