@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";

@value title-02 from "../../components/Title/Title.module.css";

.title-wrap {
  margin-bottom: 36px;
}

/* .text-wrap {

} */

@media tablet {
  .text-wrap {
    padding-left: 11px;
    border-left: 1px solid ui-color;
  }

  .title-wrap {
    display: flex;
    gap: 82px;
    margin-bottom: 100px;
  }

  .title-wrap .title-02 {
    flex-shrink: 0;
    width: 272px;
  }
}

@media desktop {
  .text-wrap {
    padding-left: 161px;
  }

  .title-wrap {
    display: flex;
    gap: 254px;
    margin-bottom: 100px;
  }

  .title-wrap .title-02 {
    width: 365px;
  }
}
