@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";

@value control from "../Cases/Cases.module.css";

.text-wrap {
  composes: control;
}

.values-image {
  width: 100%;
  object-fit: cover;
}

@media tablet {
  .values-image {
    height: 197px;
    object-position: bottom;
  }
}

@media desktop {
  .values-image {
    height: 339px;
  }
}
