@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";

@value title-02, title-03 from "../../components/Title/Title.module.css";
@value contact-btn from "../../components/ContactUsLink/ContactUsLink.module.css";

.section {
  margin-bottom: 36px;
}

@media tablet {
  .section {
    margin-bottom: 100px;
  }
}

@media desktop {
  .section {
    margin-bottom: 120px;
  }
}

/* Main-section styles */

.main {
  padding-top: 222px;
}

@media tablet {
  .main {
    padding-top: 240px;
  }
}

@media desktop {
  .main {
    padding-top: 264px;
  }
}

/* Values-section styles */

@media tablet {
  .values {
    position: relative;
  }

  .values .title-02 {
    width: 272px;
    margin-bottom: 143px;
  }
}

@media desktop {
  .values .title-02 {
    width: 365px;
    margin-bottom: 124px;
  }
}

/* Electricity-section styles */

.electricity .title-02 {
  position: relative;
  width: 286px;
  padding-bottom: 96px;
  margin: 0 auto;
  text-align: center;
}

.electricity .title-02::after {
  content: '';
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 48px;
  background-color: ui-color;
}

.electricity .title-03 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 36px;
  text-transform: initial;
  /* text-align: center; */
  font-size: 24px;
  line-height: 24px;
}

@media tablet {
  .electricity .title-02 {
    width: 368px;
    padding-bottom: 135px;
  }

  .electricity .title-02::after {
    height: 87px;
  }

  .electricity .title-03 {
    gap: 24px;
    margin-bottom: 105px;
    font-size: 28px;
    line-height: 48px;
  }
}

@media desktop {
  .electricity .title-02 {
    width: 491px;
    padding-bottom: 120px;
  }

  .electricity .title-02::after {
    bottom: 17px;
  }

  .electricity .title-03 {
    margin-bottom: 120px;
    font-size: 48px;
  }
}

/* Cases-section styles */

.cases .title-02 {
  width: 264px;
}

@media tablet {
  .cases {
    position: relative;
  }

  .cases .title-02 {
    margin-bottom: 38px;
  }
}

@media desktop {
  .cases .title-02 {
    width: 398px;
  }

  .cases .title-02 {
    margin-bottom: 120px;
  }
}

/* FAQ-section styles */

.faq .contact-btn {
  display: inline-flex;
}

@media tablet {
  .faq {
    position: relative;
  }

  .faq .title-02 {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(12px);
    width: 342px;
    margin-bottom: 0;
  }
}

@media desktop {
  .faq .title-02 {
    width: 398px;
    transform: translateX(161px);
  }
}

/* Contact-Us-section styles */

.contacts .title-02 {
  text-align: center;
}

@media tablet {
  .contacts .title-02 {
    margin-bottom: 40px;
  }
}

@media desktop {
  .contacts .title-02 {
    margin-bottom: 120px;
  }
}
