@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color from "../../css-variables/colors.css";

.text {
  color: text-color;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}
