@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value ui-color, card-color from "../../css-variables/colors.css";

@value text from "../Text/Text.module.css";

.slide {
  /* max-width: 440px; */
  min-width: 100%;
  background-color: card-color;
}

.slide-thumb {
  width: 100%;
}

.slide-img {
  width: 100%;
  height: 168px;
  object-fit: cover;
}

.slide-content {
  padding: 24px 12px 12px 12px;
}

.slide-fitcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
  border-bottom: 1px solid ui-color;
}

.slide-fitcaption .text {
  width: 200px;
}

.slide-fitdesc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

@media tablet {
  .slide {
    min-width: 342px;
  }

  .slide-fitcaption {
    padding-bottom: 16px;
  }
}

@media desktop {
  .slide {
    min-width: 596px;
  }

  .slide-img {
    height: 296px;
  }

  .slide-content {
    padding: 36px 48px;
  }

  .slide-fitcaption {
    padding-bottom: 36px;
  }

  .slide-fitcaption .text {
    width: 360px;
  }

  .slide-caption {
    display: block;
  }

  .slide-fitdesc {
    padding-top: 24px;
  }
}
