@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value ui-color, card-color from "../../css-variables/colors.css";

@value text from "../Text/Text.module.css";

.slide {
  min-width: 100%;
  background-color: card-color;
}

.slide-thumb {
  width: 100%;
}

.slide-img {
  width: 100%;
  height: 168px;
  object-fit: cover;
}

.slide-content {
  padding: 12px 24px 12px 12px;
}

.slide-fitcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
  border-bottom: 1px solid ui-color;
}

.slide-fitcaption .text {
  width: 200px;
}

.slide-fitdesc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}
