@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

@value footer from "../FooterComponent/FooterComponent.module.css";

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 36px;
}

.contact-label {
  text-transform: capitalize;
  text-align: justify;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.64px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: text-color;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-item:last-child .contact-links {
  flex-direction: row;
  gap: 8px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: text-color;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.8px;
}

.contact-item:last-child .contact-link {
  padding: 12px;
}

@media tablet {
  .contact-list {
    width: 342px;
  }
}

@media desktop {
  .contact-list {
    width: 596px;
    gap: 32px;
  }

  .contact-item {
    gap: 16px;
  }

  .contact-link {
    font-size: 24px;
  }
}

/* Contacts on footer */

.footer .contact-list {
  flex-direction: column-reverse;
  margin-bottom: 24px;
}

.footer .contact-item {
  flex-direction: row;
  justify-content: space-around;
}

.footer .contact-item:first-child {
  display: none;
}

.footer .contact-label {
  display: none;
}

.footer .contact-item:last-child .contact-link {
  padding: 0;
}

.footer .contact-link {
  font-size: 16px;
  letter-spacing: -0.64px;
}

@media tablet {
  .footer .contact-list {
    position: absolute;
    bottom: 38px;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    row-gap: 28px;
    column-gap: 77px;
    width: 530px;
    height: 72px;
    margin-bottom: 0;
  }

  .footer .contact-item:last-child,
  .footer .contact-item:first-child {
    width: 163px;
    justify-content: flex-start;
  }
}

@media desktop {
  .footer .contact-list {
    column-gap: 492px;
    width: 945px;
  }
}
