@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

@value footerComponent from "../FooterComponent/FooterComponent.module.css";

.contactList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 36px;
}

.contactLabel {
  text-transform: capitalize;
  text-align: justify;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.64px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: text-color;
}

.contactLinks {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contactItem:last-child .contactLinks {
  flex-direction: row;
  gap: 8px;
}

.contactLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: text-color;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.8px;
}

.contactItem:last-child .contactLink {
  padding: 12px;
}

.iconStyle {
  fill: text-color;
  width: 24px;
  height: 24px;
  transition: ui-transition;
}

.contactLink:hover .iconStyle,
.contactLink:focus .iconStyle {
  fill: ui-color;
}

@media tablet {
  .contactList {
    width: 342px;
  }
}

@media desktop {
  .contactList {
    width: 596px;
    gap: 32px;
  }

  .contactItem {
    gap: 16px;
  }

  .contactLink {
    font-size: 24px;
  }
}

/* Contacts on footer */

.footerComponent .contactList {
  flex-direction: column-reverse;
  margin-bottom: 24px;
}

.footerComponent .contactItem {
  flex-direction: row;
  justify-content: space-around;
}

.footerComponent .contactItem:first-child {
  display: none;
}

.footerComponent .contactLabel {
  display: none;
}

.footerComponent .contactItem:last-child .contactLink {
  padding: 0;
}

.footerComponent .contactLink {
  font-size: 16px;
  letter-spacing: -0.64px;
}

.footerComponent .contactItem:not(:last-child) .iconStyle {
  display: none;
}

@media tablet {
  .footerComponent .contactList {
    position: absolute;
    bottom: 38px;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    row-gap: 28px;
    column-gap: 77px;
    width: 530px;
    height: 72px;
    margin-bottom: 0;
  }

  .footerComponent .contactItem:last-child,
  .footerComponent .contactItem:first-child {
    width: 163px;
    justify-content: flex-start;
  }
}

@media desktop {
  .footerComponent .contactList {
    column-gap: 492px;
    width: 945px;
  }
}
