@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";
@value text-color, ui-color from "../../css-variables/colors.css";
@value ui-transition from "../../css-variables/transition.css";

@value footerComponent from "../FooterComponent/FooterComponent.module.css";

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 36px;
}

.label {
  text-transform: capitalize;
  text-align: justify;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.64px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: text-color;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item:last-child .links {
  flex-direction: row;
  gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: text-color;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.8px;
}

.item:last-child .link {
  padding: 12px;
}

.icon {
  fill: text-color;
  width: 24px;
  height: 24px;
  transition: ui-transition;
}

.link:hover .icon,
.link:focus .icon {
  fill: ui-color;
}

@media tablet {
  .list {
    width: 342px;
  }
}

@media desktop {
  .list {
    width: 596px;
    gap: 32px;
  }

  .item {
    gap: 16px;
  }

  .link {
    font-size: 24px;
  }
}

/* Contacts on footer */

.footerComponent .list {
  flex-direction: column-reverse;
  margin-bottom: 24px;
}

.footerComponent .item {
  flex-direction: row;
  justify-content: space-around;
}

.footerComponent .item:first-child {
  display: none;
}

.footerComponent .label {
  display: none;
}

.footerComponent .item:last-child .link {
  padding: 0;
}

.footerComponent .link {
  font-size: 16px;
  letter-spacing: -0.64px;
}

.footerComponent .item:not(:last-child) .icon {
  display: none;
}

@media tablet {
  .footerComponent .list {
    position: absolute;
    bottom: 38px;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    row-gap: 28px;
    column-gap: 77px;
    width: 530px;
    height: 72px;
    margin-bottom: 0;
  }

  .footerComponent .item:last-child,
  .footerComponent .item:first-child {
    width: 163px;
    justify-content: flex-start;
  }
}

@media desktop {
  .footerComponent .list {
    column-gap: 492px;
    width: 945px;
  }
}
