@value mobile, smartphone, tablet, desktop from "../../css-variables/media.css";

.slider {
  width: 100%;
  overflow: hidden;
}

.list {
  /* white-space: nowrap; */
  display: flex;
  gap: 10px;
}

@media tablet {
  .list {
    gap: 24px;
  }
}
